<p id="notice"><%= notice %></p>

<p>
  <strong>Relationid:</strong>
  <%= @relationtbl.relationid %>
</p>

<p>
  <strong>Frommvid:</strong>
  <%= @relationtbl.frommvid %>
</p>

<p>
  <strong>Tomvid:</strong>
  <%= @relationtbl.tomvid %>
</p>

<p>
  <strong>Fromtitle:</strong>
  <%= @relationtbl.fromtitle %>
</p>

<p>
  <strong>Totitle:</strong>
  <%= @relationtbl.totitle %>
</p>

<p>
  <strong>Updatedate:</strong>
  <%= @relationtbl.updatedate %>
</p>

<%= link_to 'Edit', edit_relationtbl_path(@relationtbl) %> |
<%= link_to 'Back', relationtbls_path %>
