<p id="notice"><%= notice %></p>

<h1>Listing Relationlists</h1>

<table>
  <thead>
    <tr>
      <th>Relationid</th>
      <th>Frommvid</th>
      <th>Tomvid</th>
      <th>Fromtitle</th>
      <th>Totitle</th>
      <th>Updatedate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relationlists.each do |relationlist| %>
      <tr>
        <td><%= relationlist.relationid %></td>
        <td><%= relationlist.frommvid %></td>
        <td><%= relationlist.tomvid %></td>
        <td><%= relationlist.fromtitle %></td>
        <td><%= relationlist.totitle %></td>
        <td><%= relationlist.updatedate %></td>
        <td><%= link_to 'Show', relationlist %></td>
        <td><%= link_to 'Edit', edit_relationlist_path(relationlist) %></td>
        <td><%= link_to 'Destroy', relationlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relationlist', new_relationlist_path %>
